<p id="notice"><%= notice %></p>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-xs-8 col-sm-8">
      <h1>Tweets</h1>
    </div>
    <div class="col-sm-4">
  <%= link_to 'Admin', new_admin_user_session_path, class: "btn btn-info btn-sm" %>
  
</div>
<br>
<%= paginate @tweets %>
<br>
<div class = "container d-flex justify-content-center">
  <div class="col-md-3 offset-md-2">
    <%= search_form_for @q do |f| %>
      <div class="d-flex justify-content-center"><%= f.label :content_cont %></div>
      <div class="form-group d-flex justify-content-center">
        <%= f.search_field :content_cont, class: "form-control", placeholder: "..." %>
        <%= f.submit "Search", class: "btn btn-primary" %>
        <br>
      </div>
  </div>  
            
</div>


<% end %>

<% if current_user %>
<%= render 'form', tweet: @tweet %>

<% end %>
<% @tweets.each do |tweet| %>
<td><%= render_with_hashtags(tweet.content) %></td>
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag(tweet.user.avatar_url, width: "40%")%> says:
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <% if tweet.origin_tweet.nil?%>
          <p class="card-text"> <%= tweet.content %> </p>
        <% else %>
          <%= image_tag(tweet.original_tweet.user.avatar_url, width: "40%")%> <%= tweet.original_tweet.user.name%> says:
        <div class="containter mx-auto">
          <%= tweet.content %>
        </div>
        <% end %>
          <%= link_to 'like', tweet_likes_path(tweet), method: :post%> <%= tweet.likes.count %>
          <%= link_to 'retweet', tweet_retweet_path(tweet), method: :post%> 
          <%= link_to tweet_path(tweet) do %>
          <small><%= time_ago_in_words(tweet.created_at) %> ago</small>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @tweets %>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'New tweet', new_tweet_path %>
  <% end %>